@model Models.Submission

<form class="submission-form" method="POST" enctype="multipart/form-data">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
    </div>
    <div>
        <label asp-for="Hash"></label>
        @* Asp doesn't like DataType.Password value binding, so we do it ourselves. *@
        <input asp-for="Hash" value="@Model.Hash" />
    </div>
    <div>
        <label asp-for="Content"></label>
        <textarea asp-for="Content"></textarea>
    </div>
    <div>
        <label asp-for="File"></label>
        <input asp-for="File" />
    </div>
    <div class="hidden">
        <input asp-for="ParentId"/>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
    @Html.ValidationSummary()
</form>