@page "{PaginationIndex:int?}"
@using Models
@using System.Collections
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Welcome to Raddest!</h1>

<partial name="_SubmissionForm" model="Model.Submission"/>

<div class="page-picker">
@{
    for (var i=0; i<Model.PageCount; i++)
    {
        if (i == Model.PaginationIndex)
        {
            <p>[@i]</p>
        } else {
            <p>[<a asp-page="Index" asp-route-PaginationIndex="@i">@i</a>]</p>
        }
    }
}
</div>

<div>
    @{
        foreach (var thread in Model.Threads)
        {
            <partial name="_Post" model="thread.Parent"></partial>
            foreach (var post in thread.Earliest)
            {
                <partial name="_Post" model="post"></partial>
            }
            if (thread.ShowElipses)
            {
                <div class="post subpost">...</div>
            }
            foreach (var post in thread.Latest)
            {
                <partial name="_Post" model="post"></partial>
            }
        }
    }
</div>

@section Scripts
{
    <partial name="_PostScripts"></partial>
}