@page "{ParentId}"
@model ThreadModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Welcome to <a asp-page="/index">Raddest</a>!</h1>

<partial name="_SubmissionForm" model="Model.Submission"/>

<div>
    @{
        foreach (var Post in Model.Posts)
        {
            <partial name="_Post" model="Post"></partial>
        }
    }
</div>

@section Scripts
{
    <partial name="_PostScripts"></partial>
}